<!DOCTYPE html>
<html lang="en">
<head>


    <title>Signup</title>
</head>
<body>
{% include 'base.html' %}

{%  block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    {% csrf_token %}
                    {% for message in messages %}
                        <h2>{{ message }}</h2>
                    {% endfor %}

                        <form method="post">
                            {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-warning"> Signup</button>
                        </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


</body>
</html>